doctype html
html
  head
    title app name here
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/stylesheet.css')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='/js/controller.js')
    script(src='/js/bootstrap.js')
    link(href='https://fonts.googleapis.com/css?family=Karla:400,700', rel='stylesheet')
  body.index
    nav.navbar.navbar-default.navbar-static-top(style='background-color: #A31F34; border-bottom: 0;')
      section.container-fluid
        section.navbar-header
          a#homeTab.navbar-brand(href='#') app name!!
        section.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li#userEmail(style="color: white; font-size: 15px; margin-right: 8px; margin-top: 15px") 
              | welcome #{user.email}
            li#myConnectionsTab(style='background-color: #861A2B; width: 150px; text-align: center;')
              a(href='#', data-transition='slide') connections
            li#exploreTab(style='background-color: #681422; width: 150px; text-align: center;')
              a(href='#') explore
            li#searchTab(style='background-color: #4B0F18; width: 150px; text-align: center;')
              a(href='#') search
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown' style='background-color: #2D090F; width: 150px; text-align: center;') profile
              .dropdown-menu(style="text-align: center; width: 10px;")
                a#settingsTab(href='#' style="color: white;") settings
                p(style='white-space:pre; font-size: 2px;')
                  | &nbsp
                a#logoutBtn(href='#' style="color: white;") logout
    .panel.panel-default.settings
      .panel-heading
        h4(style="margin: 5px;")
          | Profile -- Settings -- Edit
      .panel-body
        h1(style="margin-top: 5px; text-align: center")
          | #{user.name}
        
        .settingsInfo

          table(style='width: 100%; margin-bottom: 20px')
            tr
              td(colspan='3')
                h3(style="color: #A31F34; border-bottom: 1px solid gray;")
                  | Contact Info 
            tr
              th(style="font-weight: 700")
                | Email
              th
                | Phone Number
              th
                | Address
            tr
              td
                | #{user.email}
              td
                input.form-control(id='phoneNumber' type='number', name = 'phoneNumber' value='#{user.phoneNumber}')
              td
                input.form-control(id='address' type='text', name = 'address' value='#{user.address}')
            tr
              td(colspan='3')
                h3(style="color: #A31F34; border-bottom: 1px solid gray;")
                  | MIT Info
            tr
              th(style="font-weight: 700")
                | Class Year
              th
                | Course(s)
              th
                | Activities
            tr
              td 
                | #{user.gradYear}
              td
                - each item in user.course
                  li=item
              td
                - each item in user.activities
                  li=item
            tr
              td(colspan='3')
                h3(style="color: #A31F34; border-bottom: 1px solid gray;")
                  | Work Info
            tr
              th(style="font-weight: 700")
                | Place of Employment
              th
                | Position
            tr
              td
                if user.workLoc != null
                  input.form-control(id='workLocation' type='text', name = 'workLocation' value='#{user.workLoc}')
                else
                  input.form-control#workLocation(type='text', name = 'workLocation')
              td
                if user.workPosition != null
                  input.form-control(id='workPosition' type='text', name = 'workPosition' value='#{user.workPosition}')
                else
                  input.form-control#workPosition(type='text', name = 'workPosition')
        input.btn.button#saveProfiled(type="submit" value="Save" style="margin-right: 20px")
        input.btn.button#cancelEdits(type="submit" value="Cancel")
                


  