doctype html
html
  head
    title connectMIT
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/stylesheet.css')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='/js/controller.js')
    script(src='/js/notify.js')
    script(src='/js/bootstrap.js')
    link(href='https://fonts.googleapis.com/css?family=Karla:400,700', rel='stylesheet')
  body.index.viewProfilePage
    nav.navbar.navbar-default.navbar-static-top(style='background-color: #A31F34; border-bottom: 0;')
      section.container-fluid
        section.navbar-header
          a#homeTab.navbar-brand(href='#') connectMIT
        section.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li#userEmail(style="color: white; font-size: 15px; margin-right: 15px; margin-top: 15px") 
              | welcome #{email}
            li#exploreTab(style='background-color: #861A2B; width: 150px; text-align: center;')
              a(href='#') explore
            li#searchTab(style='background-color: #681422; width: 150px; text-align: center;')
              a(href='#') search
            li#myConnectionsTab(style='background-color: #4B0F18; width: 150px; text-align: center;')
              a(href='#', data-transition='slide') my connections
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown' style='background-color: #2D090F; width: 150px; text-align: center;') profile
              .dropdown-menu(style="text-align: center; width: 10px;")
                a#settingsTab(href='#' style="color: white;") settings
                p(style='white-space:pre; font-size: 2px;')
                  | &nbsp
                a#logoutBtn(href='#' style="color: white;") logout

    input.submitButtons#backBtn(type="submit" value="back" style="float: left; width: 100px; margin-left: 15px")
    h1(style="text-align: center; padding-bottom: 10px; margin-right: 115px;") v i e w &nbsp&nbsp p r o f i l e

    .panel.panel-default.settings
      .panel-heading
        h4(style="margin: 5px;")
          | &nbsp

        input.disconnectProfile.submitButtons(class='#{user.email}' name='#{user.name}' type="submit" value="" style="border: 1px solid white; float: right; margin-top: -30px;")

      .panel-body
        h1(style="margin-top: 5px; text-align: center")
          | #{user.name}

        input.submitButtons.sendMessage(class='#{user.email}' type="submit" value="send message" style="float: left; margin-left: 43%;")
        
        .settingsInfo

          table(style='width: 100%; margin-bottom: 20px')
            tr
              td(colspan='3')
                h3(style="color: #A31F34; border-bottom: 1px solid gray;")
                  | Contact Info 
            tr
              th(style="font-weight: 700; width: 33.33%;")
                | Email
              th(style='width: 33.33%')
                | Phone Number
              th(style='width: 33.33%')
                | Address
            tr
              td
                | #{user.email}
              td
                | #{user.phoneNumber}
              td
                | #{user.address}
            tr
              td(colspan='3')
                h3(style="color: #A31F34; border-bottom: 1px solid gray;")
                  | MIT Info
            tr
              th(style="font-weight: 700")
                | Class Year
              th
                | Course(s)
              if user.activities != ''
                th
                  | Activities
            tr
              td 
                | !{user.gradYear}
              td
                - each item in user.course
                  li=item
              if user.activities != null
                td
                  - each item in user.activities
                    li=item

            if user.workLoc != null && user.workLoc != ''
              tr
                td(colspan='3')
                  h3(style="color: #A31F34; border-bottom: 1px solid gray;")
                    | Work Info
              tr
                th(style="font-weight: 700")
                  | Employer

                if user.workPosition != null && user.workPosition != ''
                  th
                    | Position
              tr
                td
                  | !{user.workLoc}

                if user.workPosition != null && user.workPosition != ''
                  td
                    | !{user.workPosition}
                